
<web-app version="3.1">
  <display-name>CarRentApp</display-name>
  <servlet>
    <servlet-name>Servl</servlet-name>
    <servlet-class>com.sgsavch.controller.Servlet</servlet-class>
    <!--<load-on-startup>1</load-on-startup>-->
  </servlet>
  <servlet-mapping>
    <servlet-name>Servl</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.sgsavch.controller.filters.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.sgsavch.controller.filters.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

  <filter>
    <filter-name>SessionLocaleFilter</filter-name>
    <filter-class>com.sgsavch.controller.filters.SessionLocaleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionLocaleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>SessionStartFilter</filter-name>
    <filter-class>com.sgsavch.controller.filters.SessionStartFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionStartFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


  <!--============================================================
	Security filter.
	1) admin: admin commands
	2) client: client commands
	3) commons: commands for all roles
	4) out-of-control: commands without access control
	Delimiter - space/tab
=============================================================-->

<!--      <filter>-->
<!--          <filter-name>CommandAccessFilter</filter-name>-->
<!--          <filter-class>com.sgsavch.controller.filters.CommandAccessFilter</filter-class>-->
<!--          <init-param>-->
<!--              <param-name>admin</param-name>-->
<!--              <param-value>users user_edit user_delete option_delete-->
<!--              option_edit option_add option_save vehicle_delete vehicle_edit-->
<!--              vehicle_add vehicle_save carModel_delete carModel_edit-->
<!--                carModel_add carModel_save carModels</param-value>-->
<!--          </init-param>-->
<!--          <init-param>-->
<!--              <param-name>user</param-name>-->
<!--              <param-value>invoice order invoiceDamage</param-value>-->
<!--          </init-param>-->
<!--          <init-param>-->
<!--              <param-name>manager</param-name>-->
<!--              <param-value>order_edit order_delete orders</param-value>-->
<!--          </init-param>-->
<!--          <init-param>-->
<!--              <param-name>common</param-name>-->
<!--              <param-value>logout noCommand viewSettings updateSettings</param-value>-->
<!--          </init-param>-->
<!--          <init-param>-->
<!--              <param-name>out-of-control</param-name>-->
<!--              <param-value>login activate registration exception-->
<!--              setPeriod setVehicle setOptions setOrder options vehicles</param-value>-->
<!--          </init-param>-->
<!--      </filter>-->

<!--      <filter-mapping>-->
<!--          <filter-name>CommandAccessFilter</filter-name>-->
<!--          <url-pattern>/*</url-pattern>-->
<!--&lt;!&ndash;        <servlet-name>Servl</servlet-name>&ndash;&gt;-->
<!--      </filter-mapping>-->



  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>
      com.sgsavch.controller.listener.SessionListener
    </listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/error.jsp</location>
  </error-page>

</web-app>
